#Hi {
    color: green;
    text-align: center;
}
.Links {
    color: black;
    text-align: center;
}
#main_index {
    color: green;
    text-align: center;
}
.body {
    background-color: yellow;
}
#main_contact {
    color: green;
    text-align: center;
}
#main_abt {
    color: green;
    text-align: center;
}
#contact {
    color: green;
    text-align: center;
}
#abt {
    color: green;
    text-align: center;
}