/* 1) შექმენით ნავიგაცია რომელშიც იქნება 3 ბმული, თითოეულს pseudo class-ის გამოყენებით შეუჩვალეთ hover და active მდოგმარეობებისას ტექსტის ფერი და დამატებით 2 კუთვნილება. კომენტარებით თუ რა არის pseudo class და მდგომარეობა (state) */

a {
    color: brown;
}

a:hover {
    color: green; 
}

a:active {
    color: cyan;
}


/* state - არის ელემენტის მდგომარეობა */

/* Pseudo class - არის წესი CSS-ში, რომელიც გვეხმარება ელემენტისთვის სტილის მიცემაში მისი მდგომარეობის მიხედვით.