.box1 {
    width: 100px;
    height: 100px;
    background: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative; /* ინარჩუნებს თავის პოზიციას */
    top: 10px;
    left: 10px;
    z-index: 1;
}

.box2 {
    width: 100px;
    height: 100px;
    background: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute; /* მდებარეობს უახლეს relative მშობელტან */
    top: 0;
    right: 0;
    z-index: 3;
}

.box3 {
    width: 100px;
    height: 100px;
    background: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;  /* პოზიცია ეკრანთანაა "მიბმული" და არა მშობელთან */
    bottom: 10px;
    left: 10px;
    z-index: 2; 
}