/*
                                    Task 1

Content - არის ის, რაც იწერება <p>, <div> და სხვა ტეგებს შორის — ტექსტი, სურათი და სხვა.

Padding - ქმნის შიდა ტერიტორიას კონტენტსა და ჩარჩოს შორის.

Border - ეს არის ხაზი, რომელიც განს ურტყავს ელემენტს.

Margin - ქმნის სივრცეს ელემენტსა და მის გარშემო მყოფ სხვა ელემენტებს შორის.


+---------------------------+
|        Margin             |
|  +---------------------+  |
|  |      Border         |  |
|  |  +---------------+  |  |
|  |  |   Padding     |  |  |
|  |  | +-----------+ |  |  |
|  |  | | Content   | |  |  |
|  |  | +-----------+ |  |  |
|  |  +---------------+  |  |
|  +---------------------+  |
+---------------------------+



*/


/* 
                            Task 2                             


                            Margin – გარე სივრცე სხვა ელემენტებთან.

Border – ელემენტის გარშემო ჩარჩო.

Padding – შიდა სივრცე კონტენტსა და ბორდერს შორის.

Content – ელემენტის ძირითადი შიგთავსი (ტექსტი, სურათი და ა.შ.).


CSS Reset გამოიყენება იმისთვის, რომ ბრაუზერების ჩაშენებული სტილები ნულზე დავიყვანოთ, ანუ ყველა ელემენტს ერთი და იგივე საწყისი ვიზუალი მივცეთ.

რადგან სხვადასხვა ბრაუზერს განსხვავებული სტანდარტული სტილები აქვთ, ასე რომ reset დაგვეხმარება რომ საიტი ყველა ბრაუზერში ერთნაირად გამოჩნდეს.
                            */


/* Task 3 */


.one {
    background-color: rgb(52, 152, 219); /* ლურჯი */
    border: 3px solid rgb(41, 128, 185);
}

.two {
    background-color: rgb(231, 76, 60); /* წითელი */
    border: 5px dashed rgb(192, 57, 43);
    padding: 30px;
    margin: 25px;
}

.three {
    background-color: rgb(46, 204, 113); /* მწვანე */
    border: 2px dotted rgb(39, 174, 96);
    padding: 10px 40px;
    margin: 10px 50px;
}

.four {
    background-color: rgb(155, 89, 182); /* იასამნისფერი */
    border: 4px double rgb(142, 68, 173);
    padding: 50px 10px;
    margin: 5px auto;
    width: 50%;
    text-align: center;
}

.five {
    background-color: rgb(243, 156, 18); /* ნარინჯისფერი */
    border: 1px solid rgb(230, 126, 34);
    padding: 15px;
    margin: 40px;
    box-shadow: 2px 2px 10px;
}